<style>
    h3 {text-align: center; color:seagreen}
    .center {
        text-align: center;
    }
</style>

<div class="container">
    <form class = "col-sm-2 col-form-label">
        <h3><u>Registration</u></h3>
        <input type = "text" placeholder = "Enter your Name"><br>
        <input type = "number" placeholder = "Enter your Age"><br>
        <input type = "text" placeholder = "Enter your gender"><br>
        <input type = "date" placeholder = "Enter your date of birth"><br>
        <input type = "text" placeholder = "Enter your login id"><br>
        <input type = "password" placeholder = "Enter password"><br>
        <button class = "btn btn-success" (Click) = "RegisterSubmit()"> Register </button>
    </form>
</div>